language: python
python:
  - "3.8"
before_install:
   - sudo python -m pip install --upgrade pip
   - sudo apt-get update
   - sudo apt-get install -y python3 python3-pip
env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install:
  - pip install unittest2
  - pip3 install --upgrade pip
  - pip3 install sqlite3
  - pip3 install SQLAlchemy
script: python test_point_manager.py



